.container{
    position: relative;
    text-align: center;
    color: white;
    width: 100vw;
    height: 100vh;
}

.background-img{
    width: 100vw;
    height: inherit;
}

.greeting{
    font-size: 3em;
    font-family:'TravelingTypewriter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(233, 244, 226);
    /* margin:0; */
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}


.intro-text{
    width: 50%;
    color: rgb(233, 244, 226);
    font-size: 2em;
    font-family:'TravelingTypewriter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
}