.container{
    position: relative;
    text-align: center;
    color: white;
    width: 100vw;
    height: 100vh;
}

.background-img{
    width: 100vw;
    height: inherit;
}

.greeting{
    font-size: 3em;
    font-family:'TravelingTypewriter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(233, 244, 226);
    /* margin:0; */
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}


.intro-text{
    width: 50%;
    color: rgb(233, 244, 226);
    font-size: 2em;
    font-family:'TravelingTypewriter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 650px) and (max-width: 1050px) {
    .greeting{
        
        top: 24%;
        left: 35%;  
    }
    .intro-text {
        top: 45%;
        left: 35%;
    }
}


@media screen and (min-width: 380px) and (max-width: 650px) {
    .greeting{
        font-size: 30px;
        top: 22.5%;
        left: 50%;  
    }
    .intro-text {
        font-size: 25px;
        top: 50%;
        left: 50%;
    }
}

@media screen and (min-width: 0px) and (max-width: 380px) {
    .greeting{
        font-size: 30px;
        top: 18%;
        left: 50%;  
    }
    .intro-text {
        font-size: 25px;
        top: 50%;
        left: 50%;
    }
}